Creating a new table

In [13]:
import boto3

# Get the service resource.
dynamodb = boto3.resource('dynamodb')
# Create the DynamoDB table.
table = dynamodb.create_table(
    TableName='country',
    KeySchema=[
        {
            'AttributeName': 'iso',
            'KeyType': 'HASH'
        },
        {
            'AttributeName': 'name',
            'KeyType': 'RANGE'
        }
    ],
    AttributeDefinitions=[
        {
            'AttributeName': 'iso',
            'AttributeType': 'S'
        },
        {
            'AttributeName': 'name',
            'AttributeType': 'S'
        },
    ],
    ProvisionedThroughput={
        'ReadCapacityUnits': 5,
        'WriteCapacityUnits': 5
    }
)
# Wait until the table exists.
table.wait_until_exists()
# Print out some data about the table.
print(table.item_count)

0

Creating a new item

In [18]:
table.put_item(
   Item={
        'iso': 'AE',
        'name': 'United Arab Emirates',
        'nombre': 'Emiratos Árabes Unidos',
    }
)

{'ResponseMetadata': {'RequestId': 'GHC004U2S49N5JF08A4N5SCGFFVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Tue, 25 Oct 2022 22:47:00 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'GHC004U2S49N5JF08A4N5SCGFFVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

Getting an item

In [15]:
response = table.get_item(
    Key={
        'iso': 'AE',
        'name': 'United Arab Emirates'
    }
)
item = response['Item']
print(item)

{'nombre': 'Emiratos Árabes Unidos', 'name': 'United Arab Emirates', 'iso': 'AE'}

Updating an item

In [19]:
table.update_item(
    Key={
       'iso': 'AE',
        'name': 'United Arab Emirates'
    },
    UpdateExpression='SET age = :val1',
    ExpressionAttributeValues={
        ':val1': 28
    }
)

{'ResponseMetadata': {'RequestId': 'VF0VNH5JDU2GM9GTRHLLLKDN8NVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Tue, 25 Oct 2022 22:47:13 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'VF0VNH5JDU2GM9GTRHLLLKDN8NVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

In [20]:
response = table.get_item(
    Key={
        'iso': 'AE',
        'name': 'United Arab Emirates'
    }
)
item = response['Item']
print(item)

{'nombre': 'Emiratos Árabes Unidos', 'name': 'United Arab Emirates', 'iso': 'AE', 'age': Decimal('28')}

Deleting an item

In [21]:
table.delete_item(
    Key={
        'iso': 'AE',
        'name': 'United Arab Emirates'
    }
)

{'ResponseMetadata': {'RequestId': 'TTNMLDE278JVCBRLSNN4NNS02NVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Tue, 25 Oct 2022 22:49:01 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'TTNMLDE278JVCBRLSNN4NNS02NVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

Batch writing

In [22]:
# Create the DynamoDB table.
table = dynamodb.create_table(
    TableName='users',
    KeySchema=[
        {
            'AttributeName': 'username',
            'KeyType': 'HASH'
        },
        {
            'AttributeName': 'last_name',
            'KeyType': 'RANGE'
        }
    ],
    AttributeDefinitions=[
        {
            'AttributeName': 'username',
            'AttributeType': 'S'
        },
        {
            'AttributeName': 'last_name',
            'AttributeType': 'S'
        },
    ],
    ProvisionedThroughput={
        'ReadCapacityUnits': 5,
        'WriteCapacityUnits': 5
    }
)

# Wait until the table exists.
table.wait_until_exists()

# Print out some data about the table.
print(table.item_count)

0

In [23]:
with table.batch_writer() as batch:
    batch.put_item(
        Item={
            'account_type': 'standard_user',
            'username': 'johndoe',
            'first_name': 'John',
            'last_name': 'Doe',
            'age': 25,
            'address': {
                'road': '1 Jefferson Street',
                'city': 'Los Angeles',
                'state': 'CA',
                'zipcode': 90001
            }
        }
    )
    batch.put_item(
        Item={
            'account_type': 'super_user',
            'username': 'janedoering',
            'first_name': 'Jane',
            'last_name': 'Doering',
            'age': 40,
            'address': {
                'road': '2 Washington Avenue',
                'city': 'Seattle',
                'state': 'WA',
                'zipcode': 98109
            }
        }
    )
    batch.put_item(
        Item={
            'account_type': 'standard_user',
            'username': 'bobsmith',
            'first_name': 'Bob',
            'last_name':  'Smith',
            'age': 18,
            'address': {
                'road': '3 Madison Lane',
                'city': 'Louisville',
                'state': 'KY',
                'zipcode': 40213
            }
        }
    )
    batch.put_item(
        Item={
            'account_type': 'super_user',
            'username': 'alicedoe',
            'first_name': 'Alice',
            'last_name': 'Doe',
            'age': 27,
            'address': {
                'road': '1 Jefferson Street',
                'city': 'Los Angeles',
                'state': 'CA',
                'zipcode': 90001
            }
        }
    )

Querying and scanning

In [24]:
from boto3.dynamodb.conditions import Key, Attr
response = table.query(
    KeyConditionExpression=Key('username').eq('johndoe')
)
items = response['Items']
print(items)

[{'last_name': 'Doe', 'first_name': 'John', 'username': 'johndoe', 'address': {'zipcode': Decimal('90001'), 'state': 'CA', 'road': '1 Jefferson Street', 'city': 'Los Angeles'}, 'account_type': 'standard_user', 'age': Decimal('25')}]

Todo el codigo es de la siguiente fuente https://boto3.amazonaws.com/v1/documentation/api/latest/guide/dynamodb.html